<%- include("partials/header") %>
<link rel="stylesheet" href="stylesheets/landing.css">
<div class="container text-center">
 	<div class="row">
 		<div class="col-lg-12">
 			<div class="content">
                <h1 class="font">Welcome to MeloDen</h1>
 				<h3>Start your composition today!</h3>
 				<hr>
 				<a href="/music" class="btn btn-default btn-lg"><i class="fas fa-headphones-alt"></i> Get Started!</a>
 			</div>
 		</div>
 	</div>
 </div>
 
<script src="scripts/background.js"></script>
<div class="container text-center" style="padding-top:5%;">
    <hr>
    <p>Developed by <strong>Mihir Nikam</strong>, Sardar Patel Institute of Technology</p>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
